<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Application loggers -->
    <logger name="com.example" level="INFO"/>
    
    <!-- Third-party loggers -->
    <logger name="io.lettuce" level="WARN"/>
    <logger name="io.micronaut" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor" level="WARN"/>
    <logger name="org.testcontainers" level="WARN"/>
    
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
